html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h4 {
    color: blue;
    font-size: 24px;
}

h3 {
    color: brown;
    font-size: 32px;
}

h1 {
    color: cornflowerblue;
    font-size: 36px;
}

li {
    font-family: sans-serif;
}

body {
    background-color: rgb(79, 49, 25);
}
.main {
    /*border: 2px solid black;*/
    margin: 5px;
    background-color: burlywood;
    padding: 10px;
}